# .dockerignore

node_modules
npm-debug.log
Dockerfile
.dockerignore
docker-compose.yml
.git
.gitignore
README.md
/dist # Example: if you build locally and don't want to copy it, or if it's an output of the Docker build